<ng-container *ngIf="!stepperSrc.IsLastStep; else finished">
   <ng-container *ngFor="let gr of FormGroups; let i = index">
      <form [formGroup]="FormGroups[stepperSrc.Step]" *ngIf="i === stepperSrc.Step">
         <ng-template matStepLabel>Fill out your name</ng-template>
         <mat-form-field appearance="fill">
            <mat-label>{{FieldDetails[i].Name}}</mat-label>
            <input matInput
                   placeholder="{{FieldDetails[i].Placeholder}}"
                   type="{{FieldDetails[i].Type}}"
                   formControlName="{{CtrlName(i)}}"
                   required>
         </mat-form-field>
      </form>
   </ng-container>
</ng-container>
<ng-template #finished>
   <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Thumbs up SVG icon"></mat-icon>
</ng-template>