#choose_wrapper {
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

   button {
      padding-left: 8px;
      padding-right: 8px;
      font-size: 20px;
      font-weight: 100;
   }
}